$containerMaxWidth: 1440px;
$containerPadding: 75px;
$containerPadding1024: 30px;
$containerPadding768: 28px;
$containerPadding320: 21px;
$mainGridGatter: 41px;
$mainGridGatter1024: 35px;
$gridGatter: 68px;
$gridGatter320: 30px;
$sectionGridGatter: 30px;
$backgroundColor: #202020;
$colorTextLight: #666;
$backgroundColorFocus: #BC572B;
$colorTextHover: #FF6E30;
$colorTextActive: #CE4307;
